.btn-search-wrapper {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  z-index: 20;
}

.btn-search {
  height: 34px;
  background-color: #009000;
  padding: 0 15px;
  border-radius: 0;
  border: 1px solid #fff;
  z-index: 2;
  color: #fff;
  &:hover, &:focus {
    color: #FA6700;
  }
}

.btn-play {
  color: #ffffff;
  background-color: #009000;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57b150',endColorstr='#479a40');
  background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#57b150),color-stop(100%, #009000));
  background-image: -webkit-linear-gradient(top,#57b150 0%,#479a40 100%);
  background-image: -moz-linear-gradient(top,#57b150 0%,#479a40 100%);
  background-image: -o-linear-gradient(top,#57b150 0%,#479a40 100%);
  background-image: linear-gradient(top,#57b150 0%,#479a40 100%);
  border: 1px solid #398433;

  &:hover,&:focus,&:active,&.active,&.disabled,&[disabled] {
    background-color: #4fa149;
    color: #fff;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fa149',endColorstr='#408b3a');
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#4fa149),color-stop(100%,#408b3a));
    background-image: -webkit-linear-gradient(top,#4fa149 0%,#408b3a 100%);
    background-image: -moz-linear-gradient(top,#4fa149 0%,#408b3a 100%);
    background-image: -o-linear-gradient(top,#4fa149 0%,#408b3a 100%);
    background-image: linear-gradient(top,#4fa149 0%,#408b3a 100%);
  }
}

.white-btn {
  text-align: left;
  background-color: #ffffff;
  color: #009900;
  border-radius: 0px;
  border-color: #009900;

  &:hover, &:active, &:focus{
    background-color: #009900;
    color:#ffffff;
    border-color: #009900;
  }
  .arrow-custom{
    font-size: 12px;
    vertical-align: baseline;
    border-color: #009900;
    background-color: #009900;
    color: #ffffff;
    border-radius: 45px;
    width: 18px;
    height: 18px;
    padding-left: 5px;
    padding-top: 3px;
  }
  &:hover .arrow-custom,
  &:active .arrow-custom,
  &:focus .arrow-custom{
    border-color: #ffffff;
    background-color: #ffffff;
    color: #009900;
  }
}