.Sidebar {
  float: left;
  background: #eee;
  padding: 20px;
  margin: 0 20px 20px 20px;
  width: 200px;
  cursor: pointer;
}

.Content {
  padding: 20px 20px 20px 300px;
}

.CategoryNav__Toggle:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.CategoryNav__Toggle--is-open:before {
  content: '▾';
}

nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  background: #009000;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  i.glyphicon {
    padding: 0 5px 10px;
  }
  > ul {
    display: block;
    margin: 15px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
  }

  > ul li,
  > ul li a {
    color: #fff;
    padding: 6px 0;
    cursor: pointer;
  }
  > ul li:hover,
  > ul li a:hover {
    color: #59e9df;
  }
  > ul li:before {
    font-family: "ico";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color: #59e9df;
    margin-right: 12px;
    text-align: center;
    font-variant: normal;
    font-size: 0.75em;
    text-transform: none;
    line-height: 1em;
  }
  > ul li.sep {
    margin-top: 7px;
    padding-top: 14px;
    border-top: 1px solid #6b7b8d;
  }
}

body.menu-active nav#slide-menu {
  left: 0px;
  ul {
    left: 0px;
    opacity: 1;
  }
}

/*
Header
*/
div#header{
  background: #009000;
  padding: 10px 0 10px 50px;
  height: 55px;
}

/* Content */
div.content-wrapper-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding: 20px;*/
  overflow: scroll;
  background: #fcfeff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #4a5562;
  -webkit-box-shadow: -3px 0 6px #4a5562;
  box-shadow: -3px 0 6px #4a5562;
 

  .menu-trigger {
    position: absolute;
    left: 0;
    width: 60px;
    background: #009000;
    cursor: pointer;
    border-radius: 0;
  
    i:before {    
      display: inline-block;
      width: 36px;
      height: 36px;
      color: #ffffff;
      text-align: center;
      text-transform: none;
      line-height: 36px;
      margin-left: 10px;
      margin-top: 8px;
      font-style: normal;
      font-size: 1.5em;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
    }
    &:hover {    
      background: #009000;
    }
    &:hover:before {     
      color: #ffffff;
    }
  }
}

body.menu-active div.content-wrapper-mobile {
  left: 235px;
  border-radius: 7px 0 0 7px;
}