# Created by .ignore support plugin (hsz.mobi)
protype.db
*.egg
*.egg-info
.eggs/
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
*.egg-info
.*.swp
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
nosetests-*.xml
coverage-*.xml
tutorial.db
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
venv/
temps/
log
niimanga/rak/
frontends/web/.sass-cache
frontends/web/bower_components
frontends/web/node_modules
frontends/cms/.sass-cache
frontends/cms/bower_components
frontends/cms/node_modules
frontends/xcms/.sass-cache
frontends/xcms/bower_components
frontends/xcms/node_modules
celerybeat-schedule