<!DOCTYPE html>
<html lang="en">
<head itemscope="" itemtype="http://schema.org/WebSite">
    <title itemprop="name">4.0.4 Not found | Niimanga - The only manga reader page you'll ever need</title>
    <meta name="google-site-verification" content="FzQopyckxKtbbqgfhuWqTfTjd4emmUlwIYHYbBZNkR4">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <link rel="shortcut icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <meta name="description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta property="og:locale" content="en_US" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Niimanga - The only manga reader page you'll ever need" >
    <meta property="og:description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta property="og:url" content="http://www.niimanga.net" >
    <meta property="og:site_name" content="niimanga" >
    <meta property="og:image" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta name="twitter:title" content="Niimanga - The only manga reader page you'll ever need" >
    <meta name="twitter:domain" content="http://www.niimanga.net" >
    <meta name="twitter:image:src" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:creator" content="@niimanga" >
    <link rel="canonical" href="http://www.niimanga.net" >
    <link rel="alternate" href="http://www.niimanga.net/" >
    <link rel="publisher" href="https://plus.google.com/109363191390818524400" >
    <link rel="author" href="https://twitter.com/@suryakencana007" >
    <link itemprop="url" href="http://www.niimanga.net">
    <meta property="fb:app_id" content="844212729007674">

    <link rel="stylesheet" href="${request.static_url('niimanga:public/animate.min.css')}">

</head>
<body style="background: #eaeaea url(${request.static_url('niimanga:public/res/bg.jpg')})">
<div class="swing animated" style="height:600px;width:100%;background: url('${request.static_url('niimanga:public/res/notfound.jpg')}') 50% 0% no-repeat scroll transparent;"></div>
<div class="swing animated animated--infinite" style="display: block; position: fixed; left: 10px;top: 10px;">
    <a href="/" style="display: block;background: #009000;color: #fff;line-height: 20px;padding: 5px;cursor: pointer;text-decoration: none;">
        <span class="fa-stack fa-lg"><i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
        </span>
        back to home
    </a>
</div>
</body>
</html>