<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite"> 
  <title itemprop="name"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <link rel="icon" href="http://favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="http://favicon.ico" type="image/x-icon">
  <link itemprop="url" href="http://www.niimanga.net">
</head>

<body>
<div id="app-container"></div>
<script src="${request.static_url('niimanga:public/back-main.js')}"></script>
</body>
</html>