<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Niimanga</title>
<!-- 	<link rel="stylesheet" href="todomvc-common/base.css"> -->
	<link rel="stylesheet" href="${request.static_url('niimanga:public/css/app.css')}">
	<link rel="stylesheet" href="${request.static_url('niimanga:public/css/mix.css')}">
</head>
<body>
    <div id="up-component"></div>
    <script src="${request.static_url('niimanga:public/js/vendor.js')}"></script>
	<script src="${request.static_url('niimanga:public/js/app.js')}"></script>
	<script>require("index");</script>
</body>
</html>