<!DOCTYPE html>
<html lang="en">
<head itemscope="" itemtype="http://schema.org/WebSite">
    <title itemprop="name">Niimanga - The only manga reader page you'll ever need</title>
    <meta name="google-site-verification" content="FzQopyckxKtbbqgfhuWqTfTjd4emmUlwIYHYbBZNkR4">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <link rel="shortcut icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <meta name="description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta property="og:locale" content="en_US" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Niimanga - The only manga reader page you'll ever need" >
    <meta property="og:description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta property="og:url" content="http://www.niimanga.net" >
    <meta property="og:site_name" content="niimanga" >
    <meta property="og:image" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:description" content="Niimanga - Manga reader for free and enjoying what you'll need to reading manga popular series" >
    <meta name="twitter:title" content="Niimanga - The only manga reader page you'll ever need" >
    <meta name="twitter:domain" content="http://www.niimanga.net" >
    <meta name="twitter:image:src" content="${request.static_url('niimanga:public/res/share.png')}">
    <meta name="twitter:creator" content="@niimanga" >
    <link rel="canonical" href="http://www.niimanga.net" >
    <link rel="alternate" href="http://www.niimanga.net/" >
    <link rel="publisher" href="https://plus.google.com/109363191390818524400" >
    <link rel="author" href="https://twitter.com/@suryakencana007" >
    <link itemprop="url" href="http://www.niimanga.net">
    <meta property="fb:app_id" content="844212729007674">
</head>
<body>
</body>
</html>