<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <link rel="shortcut icon" href="${request.static_url('niimanga:public/res/favicon.ico')}" type="image/x-icon">
    <title itemprop="name">Chapter ${last_chapter} - ${name | u} | ${aka | u}</title>
    <meta name="description" content="${artists} ${authors} ${description}" >
    <meta property="og:locale" content="en_US" >
    <meta property="og:type" content="article" >
    <meta property="og:title" content="Chapter ${last_chapter} - ${name | u} | ${aka | u}" >
    <meta property="og:description" content="${artists} ${authors} ${description}" >
    <meta property="og:url" content="http://www.niimanga.net${url}" >
    <meta property="og:site_name" content="niimanga" >
    <meta property="og:image" content="http://www.niimanga.net/${thumb_url}">
    <meta name="twitter:card" content="summary_large_image" >
    <meta name="twitter:description" content="${artists} ${authors} ${description}" >
    <meta name="twitter:title" content="Chapter ${last_chapter} - ${name | u} | ${aka | u}" >
    <meta name="twitter:domain" content="http://www.niimanga.net${url}" >
    <meta name="twitter:image:src" content="http://www.niimanga.net/${thumb_url}">
    <meta name="twitter:creator" content="@niimanga" >
    <link rel="canonical" href="http://www.niimanga.net${url}" >
    <link rel="alternate" href="http://www.niimanga.net${url}" >
    <link rel="publisher" href="https://plus.google.com/109363191390818524400" >
    <link rel="author" href="https://twitter.com/@suryakencana007" >
    <meta name="google-site-verification" content="FzQopyckxKtbbqgfhuWqTfTjd4emmUlwIYHYbBZNkR4">

    <link itemprop="url" href="http://www.niimanga.net${url}">
    <meta property="fb:app_id" content="844212729007674">

</head>
<body>

</body>
</html>