$border-color: #cacaca;
$background-color: #f0f0f0;
$selected-color: #009000;
$muted-color: #ccc;
$text-color: #000;

$border-radius: 2px;
$item-size: 24px;
$day-margin: 2px;
$triangle-size: 8px;
$dt__margin: 5px;